body{

background:#050505;

color:#00ff00;

font-family:Consolas;

margin:0;

text-align:center;

}



header{

border-bottom:3px solid lime;

padding:20px;

box-shadow:0 0 20px lime;

}



#logo{

width:150px;

filter:drop-shadow(0 0 15px lime);

}



h1{

text-shadow:0 0 20px lime;

}



.container{

display:grid;

grid-template-columns:repeat(auto-fit,minmax(320px,1fr));

gap:20px;

padding:20px;

}



.panel{

background:#111;

border:2px solid #333;

padding:20px;

box-shadow:

0 0 10px lime;

border-radius:15px;

}



.bar{

height:30px;

background:#222;

margin-bottom:20px;

border-radius:10px;

overflow:hidden;

}



.bar div{

height:100%;

background:lime;

transition:0.5s;

box-shadow:

0 0 20px lime;

}



button{

background:#111;

color:lime;

border:2px solid lime;

padding:15px;

font-size:18px;

margin:10px;

border-radius:15px;

}



button:hover{

box-shadow:

0 0 20px lime;

}



#scramButton{

width:180px;

height:180px;

border-radius:50%;

background:red;

color:white;

font-size:30px;

font-weight:bold;

box-shadow:

0 0 30px red;

}



#alarmBox{

color:lime;

font-size:30px;

}



#eventBox{

font-size:25px;

}



#modeBox{

font-size:25px;

}



@keyframes alarmBlink{

50%{

opacity:0.3;

}

}



.danger{

animation:alarmBlink .5s infinite;

}



@media(max-width:700px){

.container{

grid-template-columns:1fr;

}

}
canvas{

background:black;

border:2px solid lime;

box-shadow:0 0 20px lime;

width:100%;

}